<div layout-gt-md="row">
  <panel-widget flex title="Temperature" mode="temperature" template="app/views/partials/actualdata.html" class="fixed-height-small-widget"></panel-widget>
  <panel-widget flex title="Pressure" mode="pressure" template="app/views/partials/actualdata.html" class="fixed-height-small-widget"></panel-widget>
  <panel-widget flex title="Humidity" mode="humidity" template="app/views/partials/actualdata.html" class="fixed-height-small-widget"></panel-widget>
  <panel-widget flex title="UV Irradiance" mode="uv_radiation" template="app/views/partials/actualdata.html" class="fixed-height-small-widget"></panel-widget>
</div>

<!--<div layout-gt-md="row">
  <panel-widget flex title="Example" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Example" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Example" template="app/views/partials/memory.html" options="true" class="fixed-height-widget"></panel-widget>
</div>-->

<div layout-gt-md="row">
  <panel-widget flex title="Temperature chart" mode="temperature" template="app/views/partials/chart.html" options="true"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Pressure histogram" mode="pressure" template="app/views/partials/chart.html" options="true"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Humidity chart" mode="humidity" template="app/views/partials/chart.html" options="true"></panel-widget>
</div>

